/.vs/
/.idea/
**/bin/
**/obj/
**/out/
**/TestResults/
*.user
*.suo
*.swp
*.log
Thumbs.db
.DS_Store
.env
.env.*
*.pfx
*.pem
*.key
*.cer
*.crt
/OtoMangaStore.Api/appsettings.json
/OtoMangaStore.Api/appsettings.*.json