@page
@model OtoMangaStore.Api.Areas.Admin.Pages.Categories.IndexModel

<h2>Categorías</h2>
<div class="mb-3">
    <a href="/Admin/Dashboard" class="btn btn-outline-primary">Regresar al Dashboard</a>
    <a class="btn btn-primary ms-2" asp-page="Create">Nueva Categoría</a>
</div>

<table class="table mt-3">
    <thead>
    <tr>
        <th>Nombre</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var c in Model.Categories)
    {
        <tr>
            <td>@c.Name</td>
            <td>
                <a asp-page="Edit" asp-route-id="@c.Id" class="btn btn-warning btn-sm">Editar</a>
                <a asp-page="Delete" asp-route-id="@c.Id" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
    }
    </tbody>
</table>
